<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'add_product' %}">Product</a></li>
            <li><a href="{% url 'cart_detail' %}">Cart</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
             <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
