<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Data</title>
</head>
<body>
    <h1 color="orangered"><center>All Data is Here</center></h1>
        <table border="1" cellspacing="5" align="center">
            <thead>
                <tr>
                    <th>EId</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.eid }}</td>
                    <td>{{ employee.ename }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.contact }}</td>
                    <td>
                        <a href="{% url 'edit' employee.id %}">Edit</a>
                        <a href="{% url 'delete' employee.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Add Data</a>
</body>
</html>